#python caches
*.pyc
__pycache__/

# Environment variables
.env

# Database backup
backup/

# Media files
media/
webfonts/

# AI Models
cnn_assets/
*.keras

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db