.table {
    background: rgba(255,255,255,0.1);
    color: #fff;
}

.container.mt-4 table thead  tr th{
    background-color:#2c6cb0 ;
}

/* img .icon {
    width: 25px;
    cursor: pointer;
} */

/* span.view-btn {
    color: #fff;
    cursor:pointer;
} */

.text-center.mb-3{
 color: white;   
}

#historyTable{
    color:black;
}

span.view-btn,
.fa.fa-image,
.fa.fa-trash{
    cursor: pointer;
}


