
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: url("../assets/logo.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Dark overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Register Card */
.register-container {
    position: relative;
    z-index: 2;
    width: 300px;
    padding: 30px 25px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    text-align: center;
    color: #fff;
}

.register-container h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Inputs */
.input-group {
    display: flex;
    align-items: center;
    background: #e6d1c5;
    margin: 10px 0;
    border-radius: 6px;
    padding: 10px;
}

.input-group i {
    color: #7a5c5c;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: #333;
}

.toggle-password {
    cursor: pointer;
}

/* Buttons */
.register-btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #e6d1c5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn a{
    text-decoration: none;
    color: #fff;
}
.or {
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.8;
}